/* imports */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/* variablen */
:root {
    /* primary */
    --strongCyan: hsl(171, 66%, 44%);
    --lightBlue: hsl(233, 100%, 69%);

    /* neutral */
    --darkGrayishBlue: hsl(210, 10%, 33%);
    --grayishBlue: hsl(201, 11%, 66%);
}

/* general */
html {
    scroll-behavior: smooth;
}


body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    /* line-height: 1.5rem; */
}

h1, h2, h3{
    color: var(--darkGrayishBlue);
}

h2 {
    font-size: 2rem;
    margin-top: -5vh; padding-top: 5vh;
}

/* main p {
    opacity: 25%;
} */

main {
    z-index: -1;
}


/* navbar */
.navbar_wrapper {
    background: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* border: 1px solid red; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 5vh;
    margin: auto;
    /* border: 1px solid blue; */
}

/* h2::before {

} */

nav #logo {
    height: 3rem;
    align-self: center;
    flex: 3;
}

nav ul {
    display: flex;
}

nav ul a {
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
    color: var(--darkGrayishBlue);
    transition: 0.8s;
    margin-left: 20px;
} 

nav ul a:hover {
    color: var(--darkGrayishBlue);
    transition: 0.8s;
    border-bottom: 1px solid var(--darkGrayishBlue);
} 

/* main body home*/
.main_page__image {
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 8rem;
    height: 90vh;
    overflow: hidden;
}


.main_page__wrapper__image {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.main_page__hook {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid red; */
}

.main_page__hook h1{
    font-size: 3.5rem;
}

.main_page__hook p{
    font-size: 1.5rem;
}

.main_page__button_wrapper {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.main_page__button_wrapper a{
    text-decoration: none;
}

.features p {
    opacity: 25%;
}

/* section features */
.features__hero {
    height: 90vh;
}

.features {
    text-align: center;
    max-width: 50%;
    margin: auto;
}

.features__text p {
    opacity: 25%;
}

.features__image_text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    margin-top: 5rem;
}

.features__image_text {
    grid-column: 1/2;
}

.features__text {
    grid-column: 2/3;
    align-self: center;
    line-height: 2rem;
    max-width: 23rem;
}

/* section access */
.main__access {
    margin-top: 5rem;
    text-align: center;
    height: 90vh;
}

.main__access_image {
    margin-top: 6.4rem;
}

/* section workflow */
.main_workflow {
    text-align: center;
    margin-bottom: 5rem;
}

.main_workflow p {
    opacity: 25%;
}

.main_workflow__grids p {
    opacity: 25%;
}

.main_workflow__grids {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    grid-gap: 1.5rem;
    justify-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.main_workflow__grid__left {
    grid-column: 1/2; 
}

.main_workflow__grid__mid {
    grid-column: 2/3;
}

.main_workflow__grid__right {
    grid-column: 3/4;
}

.main_workflow__grid__left p {
    line-height: 2rem;
}

.main_workflow__grid__mid p {
    line-height: 2rem;
}

.main_workflow__grid__right p {
    line-height: 2rem;
}

/* section companys */
.logo_columns {
    display: flex;
    justify-content: space-around;
    margin-top: -12rem;
}

.main_page__hook p{
    opacity: 25%;
}

.ending {
    margin-top: 8rem;
}

/* section footer */
footer {
    width: 100%;
    height: 100%;
    background: lightgray;
    margin-top: 3rem;
    padding-bottom: 1rem;
}

.footer_contactCredentials {
    width: 80%;
    margin: auto;
}

.footer_contactCredentials__grids {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.footer_contactCredentials__grid_image {
    align-self:center;
}

.footer_contactCredentials__grid_image img {
    height: 3rem;
    
}

.footer_contactCredentials__grid_text {
    display: flex;
}

.footer_contactCredentials__grid_text ul{
    display: flex;
    justify-content: stretch;
    align-items: center;
    grid-gap: 5rem;
    grid-column: 2/3;
    line-height: 2rem;
}

.footer_contactCredentials__grid_text ul a{
    margin: 2rem 0;
    list-style: none;
}

.footer_contactCredentials__left {
    justify-items: start;
}

.footer_contactCredentials__mid {
    justify-items: start;
}

.footer_contactCredentials__right {
    align-items: flex-start;
}

.footer__contactCredentials__socialMedia {
    grid-column: 3/4;
    align-self: center;
}

.footer__contactCredentials__socialMedia .socials{
    display: flex;
    justify-content: space-evenly;
    transition: 0.5s;
}

.footer_contactCredentials__grid_text ul a{
    text-decoration: none;
    color: var(--darkGrayishBlue); 
    transition: 0.5s;
}

.footer_contactCredentials__grid_text ul a:hover{
    text-decoration: none;
    color: var(--strongCyan); 
    transition: 0.5s;
}

.socials img:hover {
    border-bottom: 1px solid var(--strongCyan); 
    padding-bottom: 0.2rem;
    transition: 0.5s;
}
/* specials */

.main_page__buttons {
    color: white;
}
#buttonStyle_cyan {
    border: 1px solid var(--strongCyan);
    color: white;
    background: var(--strongCyan);
    padding: 0 15px;
    border-radius: 6rem;
    transition: 0.5s;
}
#buttonStyle_blue {
    border: 1px solid var(--lightBlue);
    color: white;
    background: var(--lightBlue);
    padding: 0 15px;
    border-radius: 6rem;
    transition: 0.5s;
}

#buttonStyle_cyan:hover {
    border: 1px solid hsl(171, 85%, 69%);
    color: black;
    background: hsl(171, 85%, 69%);
    padding: 0 15px;
    border-radius: 6rem;
    transition: 0.5s;
}
#buttonStyle_blue:hover {
    border: 1px solid hsl(233, 86%, 80%);
    color: black;
    background: hsl(233, 86%, 80%);
    padding: 0 15px;
    border-radius: 6rem;
    transition: 0.5s;
}